.card{ 
    /* border: 1px solsid; */
    margin: 10px 0;
    border-radius: 15px;
    background-color: #fff;
    padding: 10px;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card > div:first-child {
    width: 20%;
    height: 10px;
    border-radius: 15px;
}
.card > div:last-child {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #6e6e6f;
}
.card > p {
    font-size: 20px;
    font-weight: 500;
}